@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.widgetBlockWeather {
   position: fixed;
   max-width: 50rem;
   width: 100%;
   top: 5rem;
   right: 0;
}

.mainBlockWithWeather {
    box-shadow: .5rem .5rem 1rem #77ac77;
    max-width: 32rem;
    width: 100%;
    background-color: #77ac77;
    border-radius: 2rem;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
}

.weather {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.city,
.degrees,
.status,
.feelsLikes {
    color: white;
}

.degrees{
    font-size: 2.5rem;
}

.city, .status, .feelsLikes {
    font-size: 1.4rem;
}

.city, .status, .degrees{
margin-bottom: 1rem;
}

.city{
font-weight: bold;
}

.mainBlockWithWeather{
            display: flex;
justify-content: space-between;
        }

        .iconWeather{
            max-width: 6rem;
            width: 100%;
        }

        .iconWeather img{
            width: 100%;
        }
.blockDataTime {
background-color: #c34949;
border-radius: 1.5rem;
            max-width: 15rem;
            width: 100%;
            margin: 0 auto;
        }

        .blockDataWeather{
            display: flex;
            flex-direction: column;
align-items: flex-end;
        }

        .blockSwap p {
padding: 1rem;
            font-size: 1.2rem;
            color: white;
font-weight: bold;
        }